<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Customer: " %></td>
          <td><%= form.collection_select :customer_id, Customer.all, :id, :full_name %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Employee: " %></td>
          <td><%= form.collection_select :user_id, User.all, :id, :full_name %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Car: " %></td>
          <td><%= form.collection_select :car_id, Car.all, :id, :full_car %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Wholesale Price: $" %></td>
          <td><%= form.text_field :wholesaleprice, :id=>'wholesaleprice', :class=>'form-control' %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Markup Value: %" %></td>
          <td><%= form.text_field :multiplier, :value => 8.2 %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <td><p><strong>Subtotal Price: </strong></p></td>
        <td><p>$<span id="subtotalprice"></span></p></td></td>
      </tr>
      <tr class="spaceUnder">
        <td><p><strong>Sales Tax: </strong></p></td>
        <td>4.3%</td>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Loan: " %></td>
          <td><%= form.collection_select :loan_id, Loan.all, :id, :full_name %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Total Price: $" %></td>
          <td><%= form.text_field :totalprice, :id=>'totalprice', :class=>'form-control' %></td>
        </div>
      </tr>
      <% if can? :manage, Quotesold %>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Sold: " %></td>
          <td><%= form.check_box :sold %></td>
        </div>
      </tr>
      <%end %>
    </tbody>
  </table>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
