<%= form_with(model: quote, local: true) do |form| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Customer: " %>
    <%= form.collection_select :customer_id, Customer.all, :id, :firstname %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.collection_select :car_id, Car.all, :id, :full_car %>
  </div>

  <div class="field">
    <%= form.label :wholesaleprice %>
    <%= form.text_field :wholesaleprice %>
  </div>

  <div class="field">
    <%= form.label :loan_id %>
    <%= form.text_field :loan_id %>
  </div>

  <div class="field">
    <%= form.label "Multiplier: " %>
    <%= form.text_field :multiplier %>
  </div>

  <div class="field">
    <%= form.label "Total Price: " %>
    <%= form.text_field :totalprice %>
  </div>

  <div class="field">
    <%= form.label :sold %>
    <%= form.check_box :sold %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
