<!DOCTYPE html>
<html>
<head>
  <style>
    #header {
      border-bottom: 4px solid #99d3df;
      padding: 10px;
      margin: auto;
      text-align: center;
      background-color: #88bbd6;
      text-decoration-color: #ffffff;
      color: white;
    }
  </style>
  <div id="header">
    <img src="https://i.gyazo.com/ec2607e4bec4158f564f17f6ef0fbd5a.png">
  </div>
  <% wicked_pdf_stylesheet_link_tag 'pdf' %>
  <meta charset ="utf-8">
<h1>Quote</h1>
</head>

<br/>
<body style="text-align: center;">
<%=image_tag(@quote.car.image, style: 'width:440px;height:300px;')%>
<hr style="width: 65%;"/>
<h2>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</h2>
<br/>
<h2>
  <strong>Employee:</strong>
  <%= @quote.user.full_name %>
</h2>
<br/>
<h2>
  <strong>Car:</strong>
  <%= @quote.car.full_car %>
</h2>
<br/>
<h2>
  <strong>Wholesale Price:</strong>
  <%= number_to_currency(@quote.wholesaleprice)%>
</h2>
<br/>
<h2>
  <strong>Loan:</strong>
  <%= @quote.loan.full_name %>
</h2>
<br/>
<h2>
  <strong>Multiplier:</strong>
  8.2%
</h2>
<br/>
<h2>
  <strong>Total Price:</strong>
  <%= number_to_currency(@quote.totalprice)%>
</h2>
<br/>
<h2>
  <strong>Monthly Payment:</strong>
  <%r = @quote.loan.interestrate / 12 %>
  <%n = @quote.loan.year * 12 %>
  <%=number_to_currency(@quote.totalprice * r/(1-(1/(1+r))**n)) %>
</h2>
<h1>
  <p style="color: red;"><%= @quote.sold_to_string %></p>
</h1>
</body>
</html>