<div id="pdf">
<center>
  <h1>Quote for <%= @quote.customer.full_name %></h1>
  <br />
  <br/>
  <% if false %>
  <%=image_tag(@quote.car.image, style: 'width:340px;height:300px;')%>
  <%end %>
<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.user.full_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.full_car %>
</p>

<p>
  <strong>Wholesale Price:</strong>
  <%= @quote.wholesaleprice %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @quote.loan.full_name %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @quote.multiplier %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @quote.totalprice %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.sold %>
</p>
<br>
<br>
  <table id="amortizedTable">
    <thead>
    </thead>
    <tbody>
    <tr class="spaceUnder">
      <td><b>Total Price:</b></td>
      <td>$ <%= (@quote.totalprice).round(2)%></td>
    </tr>
    <tr class="spaceUnder">
      <td><b>Loan:</b></td>
      <td><%= @quote.loan.full_name %></td>
    </tr>
    <tr class="spaceUnder">
      <td><b>Interest Rate:</b></td>
      <td>% <%= (@quote.loan.interestrate)*100%></td>
    </tr>
    <tr class="spaceUnder">
      <td><b>Years:</b></td>
      <td><%= @quote.loan.year%></td>
    </tr>
    <tr class="spaceUnder">
      <td><b>Monthly Payment:</b></td>
      <td>$ <%= (@quote.totalprice / @quote.loan.year / 12).round(2)%></td>
    </tr>
    </tbody>
  </table>
</center>
</div>
