<% if can? :manage, Sale %>
<p id="notice"><%= notice %></p>
<h1>Sales</h1>
<br>
  <% if can? :manage, Dealer %>
    <div class ="dealer">
      <h3>Sales Margins</h3>
      <table style="width: 500px;">
        <thead>
        <tr>
          <th>Gross Income</th>
          <th>Net Income</th>
          <th>Total Sales Tax</th>
        </tr>
        </thead>
        <tbody>
        <tr class="spaceUnder">
          <td><%= number_to_currency(@quotes.where(:sold=>true).sum( :totalprice)) %></td>
          <td><%= number_to_currency((@quotes.where(:sold=>true).sum( :totalprice)) - (@quotes.where(:sold=>true).sum(:wholesaleprice))) %></td>
          <td><%= number_to_currency(@quotes.where(:sold=>true).sum( :totalprice) * 0.043) %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr style="width: 50%;"/>
  <% end %>

<div id = "salesmanager">
  <h3>Recent Sales by Employee</h3>
  <table style="width: 500px;">
    <thead>
    <tr>
      <th>Employee</th>
      <th>Amount Sold</th>
    </tr>
    </thead>
    <tbody>
      <%@quotes.where(:sold=>true).each do |quote|%>
      <tr class="spaceUnder">
        <td><%=quote.user.full_name%></td>
        <td><%=number_to_currency(quote.totalprice)%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>






