<p id="notice"><%= notice %></p>

<%=image_tag(@quote.car.image, style: 'width:140px;height:100px;')%>


<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.user.full_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.full_car %>
</p>

<p>
  <strong>Wholesale Price:</strong>
  <span id="wholesaleprice"></span>
</p>

<p>
  <strong>Loan:</strong>
  <%= @quote.loan.full_name %>
</p>

<p>
  <strong>Multiplier:</strong>
  0.082
</p>

<p>
  <strong>Total Price:</strong>
  <span id="totalprice"></span>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.sold %>
</p>


<%= link_to 'Download PDF', quote_path(@quote, format: 'pdf'), taget: '_blank' %> |
<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
