<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "First Name: " %></td>
          <td><%= form.text_field :firstname %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Last Name: " %></td>
          <td><%= form.text_field :lastname %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Email: " %></td>
          <td><%= form.text_field :email %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Password: " %></td>
          <td><%= form.password_field :password %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Password Confirmation: " %></td>
          <td><%= form.password_field :password_confirmation %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Role: " %></td>
          <td><%= form.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %></td>
        </div>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
