<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.lastname %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @customer.phonenumber %>
</p>
<% if can? :manage, Customer %>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%end %>
<%= link_to 'Back', customers_path %>
