<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Loan Name: " %>
    <%= form.text_field :loanname %>
  </div>

  <div class="field">
    <%= form.label "Years: " %>
    <%= form.collection_select(:year, Loan::YEARS, :to_s, lambda{|i| i.to_s.humanize}) %>
  </div>

  <div class="field">
    <%= form.label "Interest Rate: " %>
    <%= form.text_field :interestrate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
