<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @loan.type %>
</p>

<p>
  <strong>Interestrate:</strong>
  <%= @loan.interestrate %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
