<p id="notice"><%= notice %></p>

<p>
  <strong>Loan Name:</strong>
  <%= @loan.loanname %>
</p>

<p>
  <strong>Years:</strong>
  <%= @loan.year %>
</p>

<p>
  <strong>Interest Rate:</strong>
  <%= @loan.interestrate %>
</p>
<% if can? :manage, Loan %>
<%= link_to 'Edit', edit_loan_path(@loan) %> |
  <%end %>
<%= link_to 'Back', loans_path %>
