<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
    <tr>
      <th>Field Name</th>
      <th>Field Entry</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <div class="field">
          <td><%= form.label "Image:" %></td>
          <td><%= form.file_field :image %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= form.label :vin %></td>
          <td><%= form.text_field :vin %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= form.label :color %></td>
          <td><%= form.text_field :color %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= form.label :make %></td>
          <td><%= form.text_field :make %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= form.label :model %></td>
          <td><%= form.text_field :model %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= form.label :wholesaleprice %></td>
          <td><%= form.text_field :wholesaleprice %></td>
        </div>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
