<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Image:" %></td>
          <td><%= form.file_field :image %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "VIN #: " %></td>
          <td><%= form.text_field :vin %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Color: " %></td>
          <td><%= form.text_field :color %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Make: " %></td>
          <td><%= form.text_field :make %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Model: " %></td>
          <td><%= form.text_field :model %></td>
        </div>
      </tr>
      <tr class="spaceUnder">
        <div class="field">
          <td><%= form.label "Wholesale Price:" %></td>
          <td><%= form.text_field :wholesaleprice %></td>
        </div>
      </tr>
    </tbody>
  </table>
  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
