
<p id="notice"><%= notice %></p>

<h1>Cars</h1>
<div id="newcar"><%= link_to 'New Car', new_car_path %></div>
<div id="search">
  <%= form_tag cars_path, :method => 'get' do %>
    <%= text_field_tag :make_search, params[:make_search], :placeholder => "Make" %>
    <%= text_field_tag :model_search, params[:model_search], :placeholder => "Model"  %>
    <%= text_field_tag :color_search, params[:color_search], :placeholder => "Color"  %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<br/>
<%=will_paginate @cars %>

  <% @cars.each do |car| %>
        <% if false %>
          # Add this back if you have to remove it
          <td><%=image_tag(car.image, style: 'width:140px;height:100px;')%></td>
        <% end %>
  <div class="center">
    <div class="col-md-2 column productbox">
      <div class="img-responsive"><%=image_tag(car.image, style: 'width:140px;height:100px;')%></div>
      <div class="producttitle"><%=car.car_box %></div>
      <div class="producttitle">VIN: <%=car.vin %></div>
      <div class="productprice"><div class="pull-right">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink1" class="pure-menu-link">Options</a>
              <ul class="pure-menu-children">
                <li class="pure-menu-item"><%= link_to 'Show', car %></li>
                <li class="pure-menu-item"><%= link_to 'Edit', edit_car_path(car) %></li>
                <li class="pure-menu-item"><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><div class="pricetext">$<%= car.wholesaleprice %></div></div>
    </div>
  </div>
  <% end %>

