<!DOCTYPE html>
<html>
  <head>
    <title>Compass Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1>Compass Cars</h1>
    <a href="/cars">Cars</a>
    <a href="/customers">Customers</a>
    <a href="/employees">Employees</a>
    <a href="/loans">Loans</a>
    <a href="/quotes">Quotes</a>
    <a href="/roles">Roles</a>

  </div>
    <%= yield %>
  </body>
</html>
